button{
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    padding: .9rem;
    color: #818181;
    background-color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-size: .85rem;
    font-weight: bold   ;
    width: 100%;
    cursor: pointer;
    transition: .1s;
    border-radius: .8rem;
    
}
button:hover{
    background-color: #fae3e0;
    transform: scale(1.1);
}   
button img{
    margin-top: -0.188rem;
    margin-right: .7rem;
    width: 1.2rem;
    height: 1.2rem;
}