
    <img src="#" alt="Logo" class="logo" />
    <nav class="lateral-nav">
        <ul>
            <li><a routerLink="#"><app-main-buttons label="Inicio"></app-main-buttons></a></li>
            <li><a routerLink="#"><app-main-buttons label="Gestionar entidades"></app-main-buttons></a></li>
            <li><a routerLink="#"><app-main-buttons label="Asistencia y Turnos"></app-main-buttons></a></li>
            <li><a routerLink="#"><app-main-buttons label="Reportes y credenciales"></app-main-buttons></a></li>
            <li><a routerLink="#"><app-main-buttons label="Distribución de Personal"></app-main-buttons></a></li>
            <li><a routerLink="#"><app-main-buttons label="Cerrar sesión"></app-main-buttons></a><img src="#"/></li>
        </ul>
    </nav>
    <img src="#" alt="Logo" class="logo" />
    <p class="breve-descripcion">Sistema de Gestión de Credenciales para el Proceso de Admisión</p>